html {
  overflow-y: scroll;
}

.scrollable-menu {
  height: auto;
  max-height: 200px;
  overflow-x: hidden;
}
.relative {
  position: relative;
}
.cell {
  display: inline-block;
  width: 32px;
  height: 32px;
  padding: 5px;
  text-align: center;
}
.rc-Calendar-header {
  text-align: center;
  font-weight: bolder;
}
.rc-Month {
  display: inline-block;
  vertical-align: top;
}
.rc-Month-header {
  text-align: center;
  font-weight: bolder;
  cursor: pointer;
  margin-left: 50px;
  margin-right: 50px;
}
.rc-Month-header:hover {
  background-color: #5bc0de;
}
.rc-Month-weekdays {
}
.rc-Month-weekdays-weekday {
  display: inline-block;
  width: 32px;
  height: 32px;
  padding: 5px;
  text-align: center;
  font-weight: bolder;
}
.rc-Month--current .rc-Month-header {
  color: #428bca;
}
.rc-Week {
  height: 32px;
}
.rc-Week-number {
  color: #777777;
  display: inline-block;
  width: 32px;
  height: 32px;
  padding: 5px;
  text-align: center;
}
.rc-Week-days {
  border-left: 1px solid #eeeeee;
  border-top: 1px solid #eeeeee;
  display: inline-block;
}
.rc-Week:last-child .rc-Week-days {
  border-bottom: 1px solid #eeeeee;
}
.rc-Day {
  display: inline-block;
  width: 32px;
  height: 32px;
  padding: 5px;
  text-align: center;
  border-right: 1px solid #eeeeee;
  cursor: pointer;
}
.rc-Day:hover {
  background-color: #5bc0de;
}
.rc-Day--outside {
  cursor: default;
  color: #eeeeee;
}
.rc-Day--outside:hover {
  background-color: transparent;
}
.rc-Day--current {
  background-color: #428bca;
}

.leftPager {
  position:absolute;
  left:5px;
}
.rightPager {
  position:absolute;
  right:5px;
}
