/* fix content jumping when scrollbar appears */
html {
  overflow-y: scroll; }

div.panel-body h3 {
  position:relative; }

.print-company {
  margin-top: 30px; }

.repair {
  position: absolute;
  right: 0px;
  top: 0px; }

.pointer {
  cursor: default }

table.break-words {
  table-layout: fixed;
  th, td { 
    word-wrap: break-word; }}

.pad-left {
  padding-left: 10px; }

.big-padding-row {
  padding-top: 20px; 
  padding-bottom: 20px; }

.table tbody {
  tr.empty-row td {
    visibility: hidden;
    border-left: none;
    border-right: none; }
  tr.indent-cell td {
    padding-left: 50px; } }

h2.print-header {
  position: relative;
  span {
    position: absolute;
    right: 0px;
    bottom: 0px;
    text-align: right;
    vertical-align: bottom; } }

div.colours {
  height: 20px;
  white-space: nowrap;
  div.colourDot {
    display: inline-block;
    position: relative;
    width: 20px;
    height: 20px;
    span {
      position: absolute;
      top: -29px;
      font-size: 4em; }}}

.editing-checkbox {
  position: relative;
  top: 6px; }

.quick-upkeep-link {
  position: absolute;
  right: 32px; }

.health {
  font-size: 3em;
  position: absolute;
  right: 0px;
  top: -26px; }

.my-text-left {
  text-align: left !important; }

.my-text-right {
  position: absolute;
  right: 15px; }

.underline {
  text-decoration: underline; }

form.upkeep-sequence-form {
  margin-bottom: 20px; }

form.upkeep-sequence-form input[type=checkbox] {
  position: relative;
  top: 6px; }

#half-container {
  position: relative; 
  width: 100%;
  padding-bottom: 60%; }

#dashboard-map {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%; }

#overcast {
  width: 20000px;
  height: 20000px;
  left: -1000px;
  top: -2000px;
  position: fixed;
  z-index: 2; }

.last {
  margin-bottom: 15px; }

.save-success {
  margin-top: 15px; }

.upkeep-state.label {
  top: -2px;
  position: relative; }

.company {
  position: relative; }

.company.company-save {
  margin-top: 10px; }

.company .btn-danger {
  right: 0px;
  position: absolute; }

.contact-person .btn-danger {
  position: absolute;
  right: 15px; }

.upkeep-photos {
  img {
    margin-bottom: 15px; }
  img:last-child {
    margin-bottom: 0px; }}

/* custom */

@media print {
  body { font-size :24px; }
}

/* my carousel */
#my-carousel {
  min-height: 600px; }

.inline {
  display: inline-block;
  width: 400px;
}
.inline label {
  font-size: 16px;
}

.goRight {
  float: right;
}
.relative {
  position: relative;
}

tbody.past-services {
  tr {
    th { white-space: nowrap; } } }

.nowrap {
  white-space: nowrap; }
.same-line {
  position: absolute;
  width: 100%;
  top: 0px;
}
.upkeep-row {
  margin-top: 24px;
}

/* jasny */
.fileinput-preview {
  width: 200px;
  height: 150px;
}

/* react calendar my additions */
.previous-year, .previous-month, .next-month, .next-year { 
  position: absolute;
  top: 0px;
}
.previous-year {
  left: 0px;
}
.previous-month {
  left: 25px;
}
.next-month {
  right: 25px;
}
.next-year {
  right: 0px;
}

/* bootstrap hacks */
.modal-extra-lg {
  @media (min-width: 1262px) {
    width: 1172px; }}

/* button dropdown bootstrap */
.scrollable-menu ul.dropdown-menu{
  height: auto;
  max-height: 200px;
  overflow-x: hidden;
}

/* react calendar bootstrap */
.cell {
  display: inline-block;
  width: 32px;
  height: 32px;
  padding: 5px;
  text-align: center;
}
.rc-Calendar-header {
  text-align: center;
  font-weight: bolder;
}
.rc-Month {
  display: inline-block;
  vertical-align: top;
}
.rc-Month-header {
  text-align: center;
  font-weight: bolder;
  cursor: pointer;
  margin-left: 50px;
  margin-right: 50px;
}
.rc-Month-header:hover {
  background-color: #5bc0de;
}
.rc-Month-weekdays {
}
.rc-Month-weekdays-weekday {
  display: inline-block;
  width: 32px;
  height: 32px;
  padding: 5px;
  text-align: center;
  font-weight: bolder;
}
.rc-Month--current .rc-Month-header {
  color: #428bca;
}
.rc-Week {
  height: 32px;
}
.rc-Week-number {
  color: #777777;
  display: inline-block;
  width: 32px;
  height: 32px;
  padding: 5px;
  text-align: center;
}
.rc-Week-days {
  border-left: 1px solid #eeeeee;
  border-top: 1px solid #eeeeee;
  display: inline-block;
}
.rc-Week:last-child .rc-Week-days {
  border-bottom: 1px solid #eeeeee;
}
.rc-Day {
  display: inline-block;
  width: 32px;
  height: 32px;
  padding: 5px;
  text-align: center;
  border-right: 1px solid #eeeeee;
  cursor: pointer;
}
.rc-Day:hover {
  background-color: #5bc0de;
}
.rc-Day--outside {
  cursor: default;
  color: #eeeeee;
}
.rc-Day--outside:hover {
  background-color: transparent;
}
.rc-Day--current {
  background-color: #428bca;
}

/* next and previous year/month links */
.prevMonthPager {
  position:absolute;
  left:30px;
}
.nextMonthPager {
  position:absolute;
  right:30px;
}
.prevYearPager {
  position:absolute;
  left:5px;
}
.nextYearPager {
  position:absolute;
  right:5px;
}
/* jquery autocomlete bootstrap */
.ui-autocomplete {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1000;
  float: left;
  display: none;
  min-width: 160px;
  _width: 160px;
  padding: 4px 0;
  margin: 2px 0 0 0;
  list-style: none;
  background-color: #ffffff;
  border-color: #ccc;
  border-color: rgba(0, 0, 0, 0.2);
  border-style: solid;
  border-width: 1px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding;
  background-clip: padding-box;
  *border-right-width: 2px;
  *border-bottom-width: 2px;
}
.ui-autocomplete .ui-menu-item {
  display: block;
  padding: 3px 15px;
  clear: both;
  font-weight: normal;
  line-height: 18px;
  color: #555555;
  white-space: nowrap;
}
.ui-helper-hidden-accessible {
  display:none;
}
.ui-autocomplete .ui-state-focus {
  cursor: pointer;
  color: #ffffff;
  text-decoration: none;
  background-color: #0088cc;
  border-radius: 0px;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  background-image: none;
}
